In [1]:
"""
Aula 2

Sequências de passos para conexão com Database Local MySql.
"""

# =============================================================================
# 1 - Pacotes
# =============================================================================
# 1.1 - Instala

'\nAula 2\n\nSequências de passos para conexão com Database Local MySql.\n'

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 8.7 MB/s eta 0:00:00:00:010:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
# 1.2 - Importa
import mysql.connector
import pandas as pd

In [5]:
# =============================================================================
# 2 - Realiza conexão
# =============================================================================

config = {
    'user': 'root',
    'password': 'root',
    'host': 'mysql-mba-eng-dados-2',
    'database': 'sakila',
    'raise_on_warnings': True
}

try:
    conn = mysql.connector.connect(**config)
    if conn.is_connected():
        print('Conectado ao MySQL com sucesso!')
except mysql.connector.Error as err:
    print(f"Erro: {err}")

Conectado ao MySQL com sucesso!

In [6]:
# =============================================================================
# 3 - Query em Dataframe
# =============================================================================
# Criação do cursor
cursor = conn.cursor()

In [7]:
# Escrevendo a query
query = "SELECT * FROM sakila.actor;"

# Executando a query
cursor.execute(query)

In [8]:
# Obtendo os resultados
resultados = cursor.fetchall()

 # Obtendo os nomes das colunas
colunas = cursor.column_names

# Transformando os resultados em um DataFrame do Pandas
df = pd.DataFrame(resultados, columns=colunas)

In [9]:
df

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]